html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

main {
    height: 100%;
}

.account-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

    .account-title .account-title-text {
        font-family: var(--dxds-font-family-sans-serif);
        font-size: var(--dxds-font-size-headline-xl);
        font-weight: var(--dxds-font-weight-headline-default);
        line-height: var(--dxds-line-height-headline-xl);
        letter-spacing: var(--dxds-letter-spacing-headline-xl);
        color: var(--dxds-color-content-neutral-default-rest);
        margin-bottom: 8vh;
        margin-top: 10vh;
    }

::deep .w-100 {
    width: 100%;
}
