@inherits LayoutComponentBase

<DxStackLayout Orientation="Orientation.Vertical" CssClass="w-100">
    <Items>
        <DxStackLayoutItem Length="auto">
            <Template>
                <div class="demo-title">
                    <div class="demo-title-text">Net Flow</div>
                </div>
            </Template>
        </DxStackLayoutItem>
        <DxStackLayoutItem Length="1fr">
            <Template>
                @Body
            </Template>
        </DxStackLayoutItem>
    </Items>
</DxStackLayout>