@page "/module/list"
@implements IDisposable
@inject NavigationManager Navigation

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar Title="Modül Listesi" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <DxToolbarItem Text="Yeni Modül" Click="OnAddClick" Alignment="ToolbarItemAlignment.Right" IconCssClass="add-icon icon medium-icon" />
            <DxToolbarItem Tooltip="Sütun Seçici" Alignment="ToolbarItemAlignment.Right" Click="OnColumnChooserItemClick" IconCssClass="column-chooser-icon icon medium-icon" />
            <DxToolbarItem Text="Dýþarý Aktarý" Alignment="ToolbarItemAlignment.Right" IconCssClass="export-icon icon medium-icon">
                <Items>
                    <DxToolbarItem Text="Export all data to Excel" Click="ExportAllDataToExcel" />
                    <DxToolbarItem Text="Export selected rows to Excel" Click="ExportSelectedRowsToExcel" />
                    <DxToolbarItem Text="Export all data to CSV" Click="ExportAllDataToCsv" />
                    <DxToolbarItem Text="Export selected rows to CSV" Click="ExportSelectedRowsDataToCsv" />
                    <DxToolbarItem Text="Export all data to PDF" Click="ExportAllDataToPdf" />
                    <DxToolbarItem Text="Export selected rows to PDF" Click="ExportSelectedRowsDataToPdf" />
                </Items>
            </DxToolbarItem>
            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" CssClass="search-textbox-item" Tooltip="Search">
                <Template Context="SearchContext">
                    <div class="custom-item">
                        <DxSearchBox CssClass="search-textbox"
                                     NullText="Ara"
                                     BindValueMode="BindValueMode.OnInput"
                                     ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                     @bind-Text=SearchText />
                    </div>
                </Template>
            </DxToolbarItem>
            <DxToolbarItem Tooltip="Refresh" BeginGroup="true" Click="@LoadGridDataAsync" Alignment="ToolbarItemAlignment.Right" IconCssClass="refresh-icon icon medium-icon" />
        </DxToolbar>
    </div>
    <div class="Module-list-root">
        <div class="h-100">
            <DxLoadingPanel Visible="@(!IsDataLoaded)"
                            IsContentBlocked="true"
                            IsContentVisible="false"
                            IndicatorVisible="true"
                            IndicatorAreaVisible="true"
                            ZIndex="101"
                            Text="Loading...">

                <DxGrid @ref="Grid"
                        Data="Data"
                        KeyFieldName="Id"
                        CssClass="Module-list"
                        SearchText="@SearchText"
                        EditMode="GridEditMode.PopupEditForm"
                        PopupEditFormCssClass="pw-800"
                        SkeletonRowsEnabled="true"
                        ColumnResizeMode="GridColumnResizeMode.NextColumn"
                        FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                        TextWrapEnabled="false"
                        FocusedRowEnabled="true"
                        ShowAllRows="true"
                        VirtualScrollingEnabled="true"
                        RowClick="@OnRowClick"
                        HighlightRowOnHover="true"
                        CustomizeEditModel="Grid_CustomizeEditModel"
                        EditModelSaving="Grid_EditModelSaving"
                        DataItemDeleting="Grid_DataItemDeleting">
                    <Columns>
                        <DxGridSelectionColumn Width="75px" />
                        <DxGridDataColumn Caption="Id" FieldName="Id" Visible="false" />
                        <DxGridDataColumn Caption="Kodu" FieldName="Code" />
                        <DxGridDataColumn Caption="Ad" FieldName="Name" />
                        <DxGridDataColumn Caption="Aktif" FieldName="IsActive" />
                        <DxGridCommandColumn Width="6em"
                                             EditButtonVisible="true"
                                             DeleteButtonVisible="true" />
                    </Columns>
                    <EditFormTemplate Context="editContext">
                        @{
                            var module = (ModuleModel)editContext.EditModel;
                        }

                        <DxFormLayout CssClass="w-100">
                            <DxFormLayoutItem Caption="Modül Kodu">
                                <DxTextBox @bind-Text="module.Code" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Modül Adý">
                                <DxTextBox @bind-Text="module.Name" />
                            </DxFormLayoutItem>
                            <DxFormLayoutItem Caption="Aktif">
                                <DxCheckBox @bind-Checked="module.IsActive" />
                            </DxFormLayoutItem>
                        </DxFormLayout>
                    </EditFormTemplate>


                    <GroupSummary>
                        <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                    </GroupSummary>
                    <TotalSummary>
                        <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" FooterColumnName="Id" />
                    </TotalSummary>
                </DxGrid>
            </DxLoadingPanel>
        </div>
    </div>
</div>

@code {
    CancellationTokenSource disposalTokenSource = new CancellationTokenSource();

    [CascadingParameter(Name = "ParentSizeMode")]
    SizeMode SizeMode { get; set; }
    List<ModuleModel>? Data { get; set; }
    bool IsDataLoaded { get; set; }
    bool IsModulePanelOpen { get; set; }
    bool IsModulePanelPinned { get; set; }
    bool IsActiveModuleLoading { get; set; }
    DrawerMode DrawerMode => IsModulePanelPinned ? DrawerMode.Shrink : DrawerMode.Overlap;
    ModuleModel? ActiveModule { get; set; }

    IGrid? Grid { get; set; }
    string? SearchText { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadGridDataAsync();
        await base.OnInitializedAsync();
    }

    async Task LoadGridDataAsync()
    {
        IsDataLoaded = false;
        //Data = await ModuleApiClient.GetListAsync();
        Data = new List<ModuleModel>
        {
            new ModuleModel{ Id=1, Code="MOD001", Name="Modül 1", IsActive=true },
            new ModuleModel{ Id=2, Code="MOD002", Name="Modül 2", IsActive=false },
            new ModuleModel{ Id=3, Code="MOD003", Name="Modül 3", IsActive=true },
        };
        IsDataLoaded = true;
    }

    void OnDataChanged(List<ModuleModel> data) => Data = data;

    void OnPinClick() => IsModulePanelPinned = !IsModulePanelPinned;

    void OnCloseClick()
    {
        IsModulePanelOpen = false;
        IsModulePanelPinned = false;
    }

    string GetPinButtonIconCss() => $"{(IsModulePanelPinned ? "pinned-icon" : "unpinned-icon")} medium-icon";

    void OnColumnChooserItemClick(ToolbarItemClickEventArgs e) => Grid!.ShowColumnChooser();

    Task ExportAllDataToExcel() => Grid!.ExportToXlsxAsync("Modules");

    Task ExportSelectedRowsToExcel() => Grid!.ExportToXlsxAsync("Selected Modules", new GridXlExportOptions { ExportSelectedRowsOnly = true });

    Task ExportAllDataToCsv() => Grid!.ExportToCsvAsync("Modules");

    Task ExportSelectedRowsDataToCsv() => Grid!.ExportToCsvAsync("Selected Modules", new GridCsvExportOptions { ExportSelectedRowsOnly = true });

    Task ExportAllDataToPdf() => Grid!.ExportToPdfAsync("Modules");

    Task ExportSelectedRowsDataToPdf() => Grid!.ExportToPdfAsync("Selected Modules", new GridPdfExportOptions { ExportSelectedRowsOnly = true });


    async void OnRowClick(GridRowClickEventArgs args)
    {
        if (!IsModulePanelOpen)
        {
            IsModulePanelOpen = true;
            ActiveModule = null;
        }
        IsActiveModuleLoading = true;
        var Module = (ModuleModel)Grid!.GetDataItem(args.VisibleIndex);
        ActiveModule = Module;
        IsActiveModuleLoading = false;
        StateHasChanged();
    }
    async void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (!e.IsNew)
        {
            var module = (ModuleModel)e.DataItem;
            // var freshModule = await ModuleApiClient.GetByIdAsync(module.Id);

            // if (freshModule != null)
            //     e.EditModel = freshModule;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        if (!e.IsNew)
        {
            var model = (ModuleModel)e.EditModel;
            // var response = await ModuleApiClient.UpdateAsync(model.Id, model);

            // if (response.Success)
            //     await LoadGridDataAsync();
        }
    }


    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var module = (ModuleModel)e.DataItem;
        // var response = await ModuleApiClient.DeleteAsync(module.Id);

        // if (response.Success)
        // {
        //     Data?.Remove(module);
        //     StateHasChanged();
        // }
    }
    string GetModulePanelWidth() => SizeMode switch
    {
        SizeMode.Small => "20.25rem",
        SizeMode.Large => "27rem",
        _ => "23.625rem",
    };
    void OnAddClick()
    {
        Navigation.NavigateTo("/module/create");
    }
    void IDisposable.Dispose()
    {
        disposalTokenSource.Cancel();
        disposalTokenSource.Dispose();
    }
}


