@inject NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="@(new Uri(NavigationManager.BaseUri).LocalPath)" />
    @DxResourceManager.RegisterTheme(Themes.Fluent.Clone(p => {
        p.Name = "Fluent-Light";
        p.Mode = ThemeMode.Light;
    }))
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/NetFlow.Blazor.Shared/app.css" />
    <link rel="stylesheet" href="NetFlow.Blazor.Web.styles.css" />
    @DxResourceManager.RegisterScripts()
    <ImportMap />
    <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
