.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block-content {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    max-width: 30rem;
    padding: 1.5rem;
    width: auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.625rem;
}

    .title .title-text {
        font-family: var(--dxds-font-family-sans-serif);
        font-size: var(--dxds-font-size-headline-md);
        font-weight: var(--dxds-font-weight-headline-default);
        line-height: var(--dxds-line-height-headline-md);
        letter-spacing: var(--dxds-letter-spacing-headline-md);
        color: var(--dxds-color-content-neutral-default-rest);
    }

.or {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem 0;
}

    .or .or-line {
        border-bottom: 1px solid var(--dxds-color-content-neutral-default-rest);
        width: 100%;
        opacity: 0.2;
    }

    .or .or-text {
        padding: 0 0.625rem 0px 0.625rem;
        font-size: 0.75rem;
        line-height: 1.125rem;
        opacity: 0.7;
    }

.links-area {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    padding-top: 0.625rem;
}

.links-container {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0;
}

    .links-container .dot {
        height: 0.3125rem;
        width: 0.3125rem;
        margin: 0 0.1875rem;
        border-radius: 50%;
        background-color: var(--dxds-color-content-neutral-default-rest);
        opacity: 0.7;
    }

::deep a {
    color: var(--dxds-color-content-primary-default-rest);
    text-decoration: underline;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--dxds-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--dxds-border-radius-10) solid var(--dxds-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

::deep .w-100 {
    width: 100%;
}

::deep .text-danger {
    color: var(--dxds-color-surface-danger-default-rest);
}
