/* --- Mevcut Yapı --- */
.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.block-content {
    border-radius: 0.5rem;
    flex-grow: 0;
    margin: auto;
    max-width: 30rem;
    padding: 1.5rem;
    width: auto;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.625rem;
}

.title .title-text {
    font-family: var(--dxds-font-family-sans-serif);
    font-size: var(--dxds-font-size-headline-md);
    font-weight: var(--dxds-font-weight-headline-default);
    line-height: var(--dxds-line-height-headline-md);
    letter-spacing: var(--dxds-letter-spacing-headline-md);
    color: var(--dxds-color-content-neutral-default-rest);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--dxds-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--dxds-border-radius-10) solid var(--dxds-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

::deep .w-100 { width: 100%; }
::deep .text-danger { color: var(--dxds-color-surface-danger-default-rest); }

   ::deep .dxbl-loading-panel-container {
        background-color: rgba(255, 255, 255, 0.6) !important;
        backdrop-filter: blur(4px);
    }


.loading-overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000; 
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px); 
    display: flex;
    align-items: center;
    justify-content: center;
}


.full-screen-loader {
    min-width: 300px;
}