@page "/firm/list"
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar Title="Firma Listesi" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <DxToolbarItem Text="Yeni Firma" Click="OnAddClick" Alignment="ToolbarItemAlignment.Right" IconCssClass="add-icon icon medium-icon" />
            <DxToolbarItem Tooltip="Sütun Seçici" Alignment="ToolbarItemAlignment.Right" Click="OnColumnChooserItemClick" IconCssClass="column-chooser-icon icon medium-icon" />
            <DxToolbarItem Text="Dýþarý Aktarý" Alignment="ToolbarItemAlignment.Right" IconCssClass="export-icon icon medium-icon">
                <Items>
                    <DxToolbarItem Text="Export all data to Excel" Click="ExportAllDataToExcel" />
                    <DxToolbarItem Text="Export selected rows to Excel" Click="ExportSelectedRowsToExcel" />
                    <DxToolbarItem Text="Export all data to CSV" Click="ExportAllDataToCsv" />
                    <DxToolbarItem Text="Export selected rows to CSV" Click="ExportSelectedRowsDataToCsv" />
                    <DxToolbarItem Text="Export all data to PDF" Click="ExportAllDataToPdf" />
                    <DxToolbarItem Text="Export selected rows to PDF" Click="ExportSelectedRowsDataToPdf" />
                </Items>
            </DxToolbarItem>
            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" CssClass="search-textbox-item" Tooltip="Search">
                <Template Context="SearchContext">
                    <div class="custom-item">
                        <DxSearchBox CssClass="search-textbox"
                                     NullText="Ara"
                                     BindValueMode="BindValueMode.OnInput"
                                     ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                     @bind-Text=SearchText />
                    </div>
                </Template>
            </DxToolbarItem>
            <DxToolbarItem Tooltip="Refresh" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" IconCssClass="refresh-icon icon medium-icon" />
        </DxToolbar>
    </div>
    <div class="Firm-list-root">
        <div class="h-100">
            <DxGrid @ref="Grid"
                    Data="Data"
                    KeyFieldName="Id"
                    CssClass="Firm-list"
                    SearchText="@SearchText"
                    EditMode="GridEditMode.PopupEditForm"
                    PopupEditFormCssClass="pw-800"
                    SkeletonRowsEnabled="true"
                    ColumnResizeMode="GridColumnResizeMode.NextColumn"
                    FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                    TextWrapEnabled="false"
                    FocusedRowEnabled="true"
                    ShowAllRows="true"
                    VirtualScrollingEnabled="true"
                    RowClick="@OnRowClick"
                    HighlightRowOnHover="true"
                    DataItemDeleting="Grid_DataItemDeleting"
                    CustomizeEditModel="Grid_CustomizeEditModel"
                    EditModelSaving="Grid_EditModelSaving">
                <Columns>
                    <DxGridSelectionColumn Width="75px" />
                    <DxGridDataColumn Caption="Id" FieldName="Id" Visible="false" />
                    <DxGridDataColumn Caption="Firma Kodu" FieldName="FirmCode" />
                    <DxGridDataColumn Caption="Firma Adý" FieldName="FirmName" />
                    <DxGridCommandColumn Width="6em" DeleteButtonVisible="true" EditButtonVisible="true" />
                </Columns>
                <GroupSummary>
                    <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                </GroupSummary>
                <TotalSummary>
                    <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" FooterColumnName="Id" />
                </TotalSummary>
            </DxGrid>
        </div>
    </div>
</div>

@code {
    CancellationTokenSource disposalTokenSource = new CancellationTokenSource();

    [CascadingParameter(Name = "ParentSizeMode")]
    SizeMode SizeMode { get; set; }
    bool IsDataLoaded { get; set; }
    bool IsFirmPanelOpen { get; set; }
    bool IsFirmPanelPinned { get; set; }
    bool IsActiveFirmLoading { get; set; }
    DrawerMode DrawerMode => IsFirmPanelPinned ? DrawerMode.Shrink : DrawerMode.Overlap;
    FirmModel? ActiveFirm { get; set; }
    IGrid? Grid { get; set; }
    string? SearchText { get; set; }
    GridDevExtremeDataSource<FirmModel> Data { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        var client = await ApiClientFactory.CreateAsync(HttpClientFactory.CreateClient("ApiClient"));
        Data = new GridDevExtremeDataSource<FirmModel>(client, NavigationManager.ToAbsoluteUri("https://localhost:7071/api/firms"));
        await InvokeAsync(StateHasChanged);
    }
    void OnAddClick() => NavigationManager.NavigateTo("/firm/create");


    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            e.EditModel = new FirmModel();
            NavigationManager.NavigateTo("/firm/create");
        }
        else
        {
            e.EditModel = e.DataItem;
            var firm = (FirmModel)e.DataItem;
            NavigationManager.NavigateTo($"/firm/edit/{firm.Id}");
        }
    }

    async Task OnRowClick(GridRowClickEventArgs args)
    {
        if (!IsFirmPanelOpen)
        {
            IsFirmPanelOpen = true;
            ActiveFirm = null;
        }
        IsActiveFirmLoading = true;
        var Firm = (FirmModel)Grid!.GetDataItem(args.VisibleIndex);
        ActiveFirm = Firm;
        IsActiveFirmLoading = false;
        StateHasChanged();
    }

    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        if (!e.IsNew)
        {
            var model = (FirmModel)e.EditModel;
            // var response = await FirmApiClient.UpdateAsync(model.Id, model);

            // if (response.Success)
            //     await LoadGridDataAsync();
        }
    }

    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        var firm = (FirmModel)e.DataItem;
        // var response = await FirmApiClient.DeleteAsync(firm.Id);
        // if (response.Success)
        // {
        //     Data?.Remove(firm);
        //     StateHasChanged();
        // }
    }

    void OnColumnChooserItemClick(ToolbarItemClickEventArgs e) => Grid!.ShowColumnChooser();
    Task ExportAllDataToExcel() => Grid!.ExportToXlsxAsync("Firms");
    Task ExportSelectedRowsToExcel() => Grid!.ExportToXlsxAsync("Selected Firms", new GridXlExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToCsv() => Grid!.ExportToCsvAsync("Firms");
    Task ExportSelectedRowsDataToCsv() => Grid!.ExportToCsvAsync("Selected Firms", new GridCsvExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToPdf() => Grid!.ExportToPdfAsync("Firms");
    Task ExportSelectedRowsDataToPdf() => Grid!.ExportToPdfAsync("Selected Firms", new GridPdfExportOptions { ExportSelectedRowsOnly = true });

    void IDisposable.Dispose()
    {
        disposalTokenSource.Cancel();
        disposalTokenSource.Dispose();
    }
}