.content-root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .content-root .contact-details {
        flex-grow: 1;
    }

.toolbar {
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
}

    .toolbar .title {
        font-size: var(--dxbl-toolbar-title-font-size);
        line-height: var(--dxbl-toolbar-title-line-height);
        font-weight: var(--dxbl-toolbar-title-font-weight);
        margin: auto 0;
    }

    .toolbar .custom-item {
        display: flex;
        height: 100%;
        margin: 0 0.5rem;
    }

::deep .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: var(--dxds-color-surface-neutral-default-rest);
    background-clip: border-box;
    border: var(--dxds-border-radius-10) solid var(--dxds-color-border-neutral-default-rest);
    border-radius: 0.25rem;
}

    ::deep .card:not(.toolbar) {
        padding: 1.5rem;
    }

::deep .tabs {
    padding-top: 0.5rem !important;
    height: 100%;
}

::deep .tab-page {
    margin-bottom: 0.625rem;
}

::deep .h-100 {
    height: 100%;
}
/* HEADER */
.popup-status-header {
    color: #ffffff;
    padding: 12px 16px;
    width: 100%;
}

    .popup-status-header.success {
        background-color: #28a745;
    }

    .popup-status-header.danger {
        background-color: #dc3545;
    }

.popup-status-header-title {
    font-weight: bold;
    font-size: 1.1rem;
}

/* BODY */
.popup-status-body {
    display: flex;
    align-items: flex-start;
    padding: 25px;
}

.popup-status-icon-wrapper {
    margin-right: 20px;
}

.popup-status-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

    .popup-status-icon.success {
        background-color: #e9f7ef;
        color: #28a745;
    }

    .popup-status-icon.danger {
        background-color: #fdeaea;
        color: #dc3545;
    }

.popup-status-content {
    flex: 1;
}

.popup-status-title {
    margin: 0 0 8px 0;
    font-weight: bold;
    color: #333;
}

.popup-status-message {
    margin: 0;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

/* FOOTER */
.popup-status-footer {
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #eee;
    background-color: #fafafa;
    width: 100%;
}
