@page "/role/list"
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IApiClientFactory ApiClientFactory
@inject IHttpClientFactory HttpClientFactory

<div class="content-root">
    <div class="card toolbar">
        <DxToolbar Title="Rol Listesi" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <DxToolbarItem Text="Yeni Rol" Click="OnAddClick" Alignment="ToolbarItemAlignment.Right" IconCssClass="add-icon icon medium-icon" />
            <DxToolbarItem Tooltip="Sütun Seçici" Alignment="ToolbarItemAlignment.Right"
                           Click="OnColumnChooserItemClick"
                           IconCssClass="column-chooser-icon icon medium-icon" />

            <DxToolbarItem Text="Dýþarý Aktar" Alignment="ToolbarItemAlignment.Right"
                           IconCssClass="export-icon icon medium-icon">
                <Items>
                    <DxToolbarItem Text="Export all data to Excel" Click="ExportAllDataToExcel" />
                    <DxToolbarItem Text="Export selected rows to Excel" Click="ExportSelectedRowsToExcel" />
                    <DxToolbarItem Text="Export all data to CSV" Click="ExportAllDataToCsv" />
                    <DxToolbarItem Text="Export selected rows to CSV" Click="ExportSelectedRowsDataToCsv" />
                    <DxToolbarItem Text="Export all data to PDF" Click="ExportAllDataToPdf" />
                    <DxToolbarItem Text="Export selected rows to PDF" Click="ExportSelectedRowsDataToPdf" />
                </Items>
            </DxToolbarItem>

            <DxToolbarItem Alignment="ToolbarItemAlignment.Right" CssClass="search-textbox-item">
                <Template>
                    <DxSearchBox NullText="Ara"
                                 BindValueMode="BindValueMode.OnInput"
                                 @bind-Text="SearchText" />
                </Template>
            </DxToolbarItem>

            <DxToolbarItem Tooltip="Refresh" Click="LoadGridDataAsync" BeginGroup="true" Alignment="ToolbarItemAlignment.Right" IconCssClass="refresh-icon icon medium-icon" />
        </DxToolbar>
    </div>


    <div class="role-list-root">
        <div class="h-100">
            <DxGrid @ref="Grid"
                    Data="@Data"
                    KeyFieldName="Id"
                    VirtualScrollingEnabled="true"
                    ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                    ShowFilterRow="true"
                    ShowSearchBox="false"
                    SearchText="@SearchText"
                    EditMode="GridEditMode.PopupEditForm"
                    DataItemDeleting="Grid_DataItemDeleting"
                    CustomizeEditModel="Grid_CustomizeEditModel"
                    EditModelSaving="Grid_EditModelSaving"
                    TextWrapEnabled="false">
                <Columns>
                    <DxGridSelectionColumn Width="75px" />
                    <DxGridDataColumn FieldName="Id" Visible="false" />
                    <DxGridDataColumn Caption="Kodu" FieldName="Code" />
                    <DxGridDataColumn Caption="Ad" FieldName="Name" />
                    <DxGridCommandColumn Width="6em"
                                         EditButtonVisible="true"
                                         DeleteButtonVisible="true" />
                </Columns>


                <EditFormTemplate Context="editContext">
                    @{
                        var role = (RoleModel)editContext.EditModel;
                    }

                    <DxFormLayout CssClass="w-100">
                        <DxFormLayoutItem Caption="Kodu" ColSpanMd="12">
                            <DxTextBox @bind-Text="role.Code" />
                        </DxFormLayoutItem>
                        <DxFormLayoutItem Caption="Rol Adý" ColSpanMd="12">
                            <DxTextBox @bind-Text="role.Name" />
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </EditFormTemplate>

                <GroupSummary>
                    <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" />
                </GroupSummary>
                <TotalSummary>
                    <DxGridSummaryItem FieldName="Id" SummaryType="GridSummaryItemType.Count" FooterColumnName="Id" />
                </TotalSummary>
            </DxGrid>
        </div>
    </div>

</div>

@code {
    [CascadingParameter(Name = "ParentSizeMode")]
    SizeMode SizeMode { get; set; }
    GridDevExtremeDataSource<RoleModel> Data { get; set; } = null!;
    IGrid? Grid { get; set; }
    string? SearchText { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadGridDataAsync();
    }

    async Task LoadGridDataAsync()
    {
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        Data = new GridDevExtremeDataSource<RoleModel>(client, NavigationManager.ToAbsoluteUri("https://localhost:7071/api/roles"));

        if (Grid != null)
            Grid.Reload();

        await InvokeAsync(StateHasChanged);
    }

    async Task Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (!e.IsNew)
        {
            var role = (RoleModel)e.DataItem;
            var httpClient = HttpClientFactory.CreateClient("ApiClient");
            var client = await ApiClientFactory.CreateAsync(httpClient);

            var freshRole = await client.GetFromJsonAsync<RoleModel>($"api/roles/{role.Id}");
            if (freshRole != null)
                e.EditModel = freshRole;
        }
        else
        {
            e.EditModel = new RoleModel();
        }
    }

    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var model = (RoleModel)e.EditModel;
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);

        if (!e.IsNew)
        {
            var response = await client.PutAsJsonAsync("api/roles", model);
            if (response.IsSuccessStatusCode)
            {
                await LoadGridDataAsync();
            }
        }
        else{}
    }

    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        e.Cancel = true; 
        var role = (RoleModel)e.DataItem;
        var httpClient = HttpClientFactory.CreateClient("ApiClient");
        var client = await ApiClientFactory.CreateAsync(httpClient);
        var response = await client.DeleteAsync($"api/roles/{role.Id}");

        if (response.IsSuccessStatusCode)
        {
            await LoadGridDataAsync();
        }
    }

    void OnColumnChooserItemClick(ToolbarItemClickEventArgs e)
        => Grid!.ShowColumnChooser();

    void OnAddClick() => NavigationManager.NavigateTo("/role/create");

    Task ExportAllDataToExcel() => Grid!.ExportToXlsxAsync("Roles");
    Task ExportSelectedRowsToExcel() => Grid!.ExportToXlsxAsync("Selected Roles", new GridXlExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToCsv() => Grid!.ExportToCsvAsync("Roles");
    Task ExportSelectedRowsDataToCsv() => Grid!.ExportToCsvAsync("Selected Roles", new GridCsvExportOptions { ExportSelectedRowsOnly = true });
    Task ExportAllDataToPdf() => Grid!.ExportToPdfAsync("Roles");
    Task ExportSelectedRowsDataToPdf() => Grid!.ExportToPdfAsync("Selected Roles", new GridPdfExportOptions { ExportSelectedRowsOnly = true });

    public void Dispose() { }
}